body{
	margin:0;
	padding:0
}
*{
	font-family:"segoe ui";
	font-size:21px;
	color:#444;
}
#box{
	height:100vh;
	display:flex;
	flex-direction:column;
}
#panel{
	display:flex;
	box-shadow:1px 1px 10px rgba(0,0,0,.1);
}
#panel .tab-title{
	padding:15px;
	user-select:none;
	width:180px;
	background:#fbfbfb;
	border-radius:30px 30px 30px 0;
}
#panel .actived-tab{
	color:#26bee2;
	background:#26bee230;
}
#content{
	overflow:auto;
	padding:20px 0;
}
.table{
	border-collapse:collapse;
	width:100%;
}
.table th{
	font-weight:400;
	background:#26bee230;
	color:#26bee2;
}
.table td:nth-child(2), .table td:nth-child(3){
	padding:0 2em;
}
.table td:first-child{
	text-align:center;
}
.table th:first-child{
	border-radius:25px 0 0 25px;
}
.table th:last-child{
	border-radius:0 25px 25px 0;
}
#fonts td:nth-child(2){
	padding-left:2em;
}
.title{
	color:#fff;
	background:#ff9999;
	display:inline-block;
	text-align:right;
	padding:4px 20px 7px 100px;
	margin:10px 0;
	border-radius:0 25px 25px 0;
}
